# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store

# 生成されるプラットフォームフォルダ（`flutter create .` で生成する）
/android/
/ios/
/web/
/windows/
/macos/
/linux/
